/* src/file_conversor/.gui/card.qss */

Card {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}
Card:hover {
    background-color: #f8f9fa;
    border: 1px solid #b0b0b0;
}

Card #icon_label {
    background-color: transparent; 
    border-radius: 20px; 
}
Card #title_label {
    font-weight: bold; 
    font-size: 14px;
}
Card #desc_label {
    color: #666666; 
    font-size: 11px;
}