{# src\file_conversor\.web\templates\doc\convert.jinja2 #}
{% import '_macros_form.jinja2' as fmacro %}
{% extends '_base/base.jinja2' %}

{% block title %}File Conversor - Doc Tools{% endblock %}

{% block content %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('form', {
      isValid: true,
      execute_btn: {
        loading: false,
      },
      async send(form) {
        let modal = Alpine.store('modal');
        try {
          const response = await fetch(`{{ url_for('api_doc_convert') }}`, {
            method: 'POST',
            body: new FormData(form)
          });
          const data = await response.json();
          if (!response.ok) {
            modal.title = '{{ doc_convert.modal.title }}';
            modal.content_html = `{{ doc_convert.modal.error }}: ${response.statusText} - ${JSON.stringify(data)}`;
            modal.open = true;
            return;
          }
          let status_bar = Alpine.store('status_bar');
          status_bar.status_id = data.status_id;
          status_bar.time = 0;
          status_bar.update();
        } catch (error) {
          modal.title = '{{ doc_convert.modal.title }}';
          modal.content_html = `{{ doc_convert.modal.error }}: ${error.message}`;
          modal.open = true;
        }
      },
    });
  });
</script>

<form x-data="{}" action="" method="post">
  {# INPUT FILES #}
  {{ fmacro.form_file_list(
  label=doc_convert.fields.input_files.label,
  input=doc_convert.fields.input_files,
  validation=doc_convert.fields.input_files.validation,
  ) }}

  {# OUTPUT FORMAT #}
  {{ fmacro.form_select(
  label=doc_convert.fields.output_format.label,
  select= doc_convert.fields.output_format,
  ) }}

  {# OUTPUT DIRECTORY #}
  {{ fmacro.form_input(
  label=doc_convert.fields.output_dir.label,
  input=doc_convert.fields.output_dir,
  validation=doc_convert.fields.output_dir.validation,
  ) }}

  {# OVERWRITE EXISTING FILES #}
  {{ fmacro.form_checkbox(
  label=doc_convert.fields.overwrite.label,
  checkbox=doc_convert.fields.overwrite
  ) }}

  {# SUBMIT BUTTON #}
  <div class="field is-grouped is-grouped-right mt-5">
    <p class="control">
      <button type="button" class="button is-primary" :class="{
        'is-loading': $store.form.execute_btn.loading,
      }" :disabled="!$store.form.isValid || $store.form.execute_btn.loading"
        @click="$store.form.send($event.target.form)">
        {{ doc_convert.execute_btn }}
      </button>
    </p>
  </div>
</form>

<script>
  document.addEventListener('alpine:init', () => {
    if (window.updateIsLoading) return;

    window.updateIsLoading = () => {
      const form = Alpine.store('form');
      const status_bar = Alpine.store('status_bar');
      if (!form || !status_bar) return;
      form.execute_btn.loading = status_bar.progress !== null && status_bar.progress < 100;
    };
    setInterval(window.updateIsLoading, 500);
  });
</script>

{% endblock %}