{# src\file_conversor\.web\templates\config\_image.jinja2 #}

{% import '_macros_form.jinja2' as fmacro %}

{# image quality #}
{{ fmacro.form_input(
label=config_index.image.quality.label,
input={
'name': 'image-quality',
'type': 'number',
'placeholder': config_index.image.quality.placeholder,
'help': config_index.image.quality.help,
'current': config_index.image.quality.current,
},
validation={
'form': '$store.configForm',
'expr': 'Number.isInteger(parseInt(value)) && parseInt(value) > 0 && parseInt(value) <= 100 ',
},
)}}

{# image dpi #}
{{ fmacro.form_input(
label=config_index.image.dpi.label,
input={
'name': 'image-dpi',
'type': 'number',
'placeholder': config_index.image.dpi.placeholder,
'help': config_index.image.dpi.help,
'current': config_index.image.dpi.current,
},
validation={
'form': '$store.configForm',
'expr': 'Number.isInteger(parseInt(value)) && parseInt(value) >= 40 && parseInt(value) <= 3600 ',
},
)}}

{# image fit #}
{{ fmacro.form_select(
label=config_index.image.fit.label,
select={
'name': 'image-fit',
'options': config_index.image.fit.available,
'current': config_index.image.fit.current,
'help': config_index.image.fit.help,
},
) }}

{# image page size #}
{{ fmacro.form_select(
label=config_index.image.page_size.label,
select={
'name': 'image-page-size',
'options': config_index.image.page_size.available,
'current': config_index.image.page_size.current,
'help': config_index.image.page_size.help,
},
) }}

{# image resampling #}
{{ fmacro.form_select(
label=config_index.image.resampling.label,
select={
'name': 'image-resampling',
'options': config_index.image.resampling.available,
'current': config_index.image.resampling.current,
'help': config_index.image.resampling.help,
},
) }}
