{# src\file_conversor\.web\templates\config\_pdf.jinja2 #}

{% import '_macros_form.jinja2' as fmacro %}

{# pdf compression #}
{{ fmacro.form_select(
label=config_index.pdf.compression.label,
select={
'name': 'pdf-compression',
'options': config_index.pdf.compression.available,
'current': config_index.pdf.compression.current,
'help': config_index.pdf.compression.help,
},
) }}