{# src\file_conversor\.web\templates\config\index.jinja2 #}
{% import '_macros_form.jinja2' as fmacro %}
{% extends '_base/base.jinja2' %}

{% block title %}File Conversor - Config{% endblock %}

{% block content %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('configForm', {
      category: 'general',
      isValid: true,
      sendConfig: async (form) => {
        let modal = Alpine.store('modal');
        modal.title = '{{ config_index.config_saved.title }}';
        try {
          const response = await fetch(`{{ url_for('api_config') }}`, {
            method: 'POST',
            body: new FormData(form)
          });
          const data = await response.json();
          if (response.ok) {
            modal.content_html = `<p>{{ config_index.config_saved.success }}</p>`;
          } else {
            modal.content_html = `<p>{{ config_index.config_saved.error }} ${response.statusText} - ${JSON.stringify(data)}</p>`;
          }
        } catch (error) {
          modal.content_html = `<p>{{ config_index.config_saved.error }} - ${error.message}</p>`;
        }
        modal.open = true;
      },
    });
  });
</script>

<form x-data="{}" action="" method="post">
  <div class="tabs is-boxed is-toggle is-toggle-rounded is-fullwidth mx-4">
    <ul>
      {% for category_val, category_label in config_index.category.available %}
      <li :class="{
        'is-active': $store.configForm.category === '{{ category_val }}',
      }">
        <a @click.prevent="$store.configForm.category = '{{ category_val }}'">
          <span>{{ category_label }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {# GENERAL SETTINGS #}
  <div :class="{
    'is-hidden': $store.configForm.category !== 'general',
  }">
    {% include "config/_general.jinja2" %}
    {# GENERAL SETTINGS - END #}
  </div>

  {# NETWORK SETTINGS #}
  <div :class="{
    'is-hidden': $store.configForm.category !== 'network',
  }">
    {% include "config/_network.jinja2" %}
    {# NETWORK SETTINGS - END #}
  </div>

  {# AUDIO & VIDEO SETTINGS #}
  <div :class="{
    'is-hidden': $store.configForm.category !== 'audio_video',
  }">
    {% include "config/_audio_video.jinja2" %}
    {# AUDIO & VIDEO SETTINGS - END #}
  </div>

  {# IMAGE SETTINGS #}
  <div :class="{
    'is-hidden': $store.configForm.category !== 'image',
  }">
    {% include "config/_image.jinja2" %}
    {# IMAGE SETTINGS - END #}
  </div>


  {# PDF SETTINGS #}
  <div :class="{
    'is-hidden': $store.configForm.category !== 'pdf',
  }">
    {% include "config/_pdf.jinja2" %}
    {# PDF SETTINGS - END #}
  </div>

  {# SUBMIT BUTTON #}
  <div class="field is-grouped is-grouped-right mt-5">
    <p class="control">
      <button type="button" class="button is-primary" :disabled="!$store.configForm.isValid"
        @click="sendConfig($event.target.form)">
        {{ config_index.save_changes }}
      </button>
    </p>
  </div>
</form>

{% endblock %}