{# src\file_conversor\.web\templates\_base\_footer\_footer.jinja2 #}

<div id="footer" class="content has-text-centered">
    <div>
        <strong><a href="https://github.com/andre-romano/file_conversor" target="_blank">File Conversor</a></strong>
        by <a href="https://github.com/andre-romano" target="_blank">Andre Madureira</a>.
    </div>
    <div>
        The source code is licensed under the
        <a href="https://github.com/andre-romano/file_conversor/blob/master/LICENSE" target="_blank">Apache-2.0</a>
        license.
    </div>
</div>