{# src\file_conversor\.web\templates\_base\_modal.jinja2 #}

{% import '_macros.jinja2' as macros %}

<div x-data="{ }" class="modal" :class="{'is-active': $store.modal.open}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head p-5">
            <p class="modal-card-title" x-text="$store.modal.title"></p>
            <button :class="{
            'is-hidden': !$store.modal.closeable
            }" @click="$store.modal.open = false" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body p-5" x-html="$store.modal.content_html"></section>
        <footer class="modal-card-foot p-5 is-flex is-justify-content-flex-end" x-html="$store.modal.footer_html">
        </footer>
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('modal', {
            open: false,
            title: '',
            content_html: '',
            footer_html: '',
            closeable: true,
        });
    });
</script>