{# src\file_conversor\.web\templates\_navbar\_navbar.jinja2 #}

{% import '_navbar/_macros.jinja2' as macros %}

<nav class="navbar is-fixed-top is-light has-border has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {# Logo #}
        <a class="navbar-item" href="{{ url_for('index') }}">
            <img height="140" src="{{ url_for('icons', filename='icon.png') }}" alt="">
            <span class="is-size-6 has-text-weight-bold">File Conversor - Home</span>
        </a>

        {# Navbar burger for mobile view #}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuContent">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    {# Navbar menu #}
    <div id="navbarMenuContent" class="navbar-menu">
        <div class="navbar-start">
            {# Navbar links #}
            {# {{ macros.navbar_item('Home', url='/') }} #}
            {#
            {{ macros.navbar_dropdown('More', [
            {'label': 'About', 'url': '/about', 'img': url_for('icons', filename='pdf.ico')},
            {'label': 'Contact', 'url': '/contact', 'icon': 'fas fa-envelope'},
            {'label': 'Help', 'url': '/help', 'icon': 'fas fa-question-circle'},
            ]) }}
            #}
        </div>

        <div class="navbar-end">
            {# Right-aligned items (if any) can go here #}
            {# {{ macros.navbar_item('Config', url='/config') }} #}
        </div>
    </div>
</nav>