
; Copywright(c) -- Andre Luiz Romano Madureira

; SEE THE DOCUMENTATION FOR DETAILS ON CREATING .ISS SCRIPT FILES!

[Setup]
AppName={{ .App.Title }}
AppVersion={{ .App.Version }}
DefaultDirName={autopf}/{{ .App.Name }}
Compression=lzma2/max
SolidCompression=yes
ShowLanguageDialog=yes
PrivilegesRequired=lowest
PrivilegesRequiredOverridesAllowed=dialog
LicenseFile=.\LICENSE
InfoBeforeFile=.\NOTICE
SetupIconFile=.\{{ .App.Icon.Ico | winpath }}
UninstallDisplayIcon={app}\{{ .App.Icon.Ico | winpath }}
SourceDir={{ .App.Source.Dir | winpath }}
OutputDir={{ .App.Packaging.Dir | winpath }}
OutputBaseFilename={{ replace .App.Installer.File ".exe" "" | winpath }}

[Languages]
Name: "en"; MessagesFile: "compiler:Default.isl"
Name: "de"; MessagesFile: "compiler:Languages\German.isl"
Name: "es"; MessagesFile: "compiler:Languages\Spanish.isl"
Name: "fr"; MessagesFile: "compiler:Languages\French.isl"
Name: "pt"; MessagesFile: "compiler:Languages\Portuguese.isl"

[Types]
Name: "full"; Description: "Full installation"
Name: "compact"; Description: "Compact installation"
Name: "custom"; Description: "Custom installation"; Flags: iscustom

[Components]
Name: cli; Description: Command-line interface (CLI); Types: full compact
Name: plugins; Description: Plugins; Types: full

[Tasks]
Name: ctx_menu; Description: Install context menu entries; Components: cli; Flags: restart

[Dirs]
Name: "{app}"; Permissions: everyone-full

[Files]
Source: "LICENSE"; DestDir: "{app}"; Flags: ignoreversion allowunsafefiles
Source: "NOTICE"; DestDir: "{app}"; Flags: ignoreversion allowunsafefiles
Source: "{{ .App.Icon.Ico | winpath }}"; DestDir: "{app}\{{ .App.Icon.Ico | winpath }}"; Flags: ignoreversion allowunsafefiles recursesubdirs
Source: "{{ .App.Build.Dir | winpath }}\{{ .App.Entrypoints.Cli }}.exe"; DestDir: "{app}"; Components: cli; Flags: ignoreversion allowunsafefiles

[Registry]
; Adds app_folder to the USER PATH
Root: HKCU; Subkey: "Environment"; ValueType: expandsz; ValueName: "PATH"; ValueData: "{olddata};{app}"; Flags: preservestringtype; Check: not IsAdmin()

; Adds app_folder to the SYSTEM PATH (requires admin privileges)
Root: HKLM; Subkey: "SYSTEM\CurrentControlSet\Control\Session Manager\Environment"; ValueType: expandsz; ValueName: "PATH"; ValueData: "{olddata};{app}"; Flags: preservestringtype; Check: IsAdmin()

[Run]
StatusMsg: "Installing context menu ..."; Filename: "cmd.exe"; Parameters: "/C """"{app}\{{ .App.Entrypoints.Cli }}.exe"" win install-menu"""; WorkingDir: "{app}"; Tasks: ctx_menu; Flags: runhidden runascurrentuser waituntilterminated

[UninstallRun]
StatusMsg: "Uninstalling context menu ..."; Filename: "cmd.exe"; Parameters: "/C """"{app}\{{ .App.Entrypoints.Cli }}.exe"" win uninstall-menu"""; WorkingDir: "{app}"; Tasks: ctx_menu; Flags: runhidden runascurrentuser waituntilterminated; RunOnceId: "uninstall_menu"
StatusMsg: "Clean up files ..."; Filename: "cmd.exe"; Parameters: "/C rmdir /s /q ""{app}"""; Flags: runhidden runascurrentuser; RunOnceId: "cleanup_files"

