# .github/workflows/choco.yml
name: Choco CI / CD

on:
  workflow_run:
    workflows: [Git Release CI / CD]
    types:
      - completed
  workflow_dispatch:

jobs:
  read-python-version:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    name: Read Python MIN / MAX version
    runs-on: ubuntu-latest

    outputs:
      PY_MIN: ${{ steps.extract.outputs.min }}
      PY_MAX: ${{ steps.extract.outputs.max }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - id: extract
        run: |
          python ./scripts/get_python_version.py >> $GITHUB_OUTPUT
          echo $GITHUB_OUTPUT
        shell: bash

  build:
    name: Build and publish Choco package
    runs-on: windows-latest
    needs: [read-python-version]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ needs.read-python-version.outputs.PY_MAX }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ needs.read-python-version.outputs.PY_MAX }}

      - name: Cache PDM dependencies for Python ${{ needs.read-python-version.outputs.PY_MAX }}
        uses: actions/cache@v4
        with:
          path: |
            __pypackages__/
            .venv/
          key: ${{ runner.os }}-pdm-python-${{ needs.read-python-version.outputs.PY_MAX }}-${{ hashFiles('**/pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-pdm-python-${{ needs.read-python-version.outputs.PY_MAX }}-

      - name: Install Python ${{ needs.read-python-version.outputs.PY_MAX }} dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pdm invoke
          pdm install
        shell: bash

      - name: Build .nupkg
        run: |
          pdm run invoke choco.build
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-nupkg
          path: dist/*.nupkg
          if-no-files-found: error

  test-choco:
    name: Test Choco package (no python installed)
    runs-on: windows-latest
    needs: [build]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download distribution artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-nupkg
          path: dist
          merge-multiple: true

      - name: Dist files list
        run: |
          ls ./dist
        shell: bash

      - name: Install choco app
        run: |
          for FILE in ./dist/*.nupkg; do
            PACKAGE_NAME=$(basename "$FILE" | sed -E 's@\.[0-9]+\.[0-9]+\.[0-9]+\.nupkg$@@')
            VERSION=$(basename "$FILE" | sed -E 's@.*\.([0-9]+\.[0-9]+\.[0-9]+)\.nupkg@\1@')
            echo "Package name: $PACKAGE_NAME"
            echo "Version: $VERSION"
            choco install -y --acceptlicense "$PACKAGE_NAME" --version="$VERSION" --source="./dist;https://community.chocolatey.org/api/v2/"
          done
        shell: bash

      - name: Check installed choco app
        run: |
          file_conversor --version
        shell: bash

      - name: Publish Choco package
        run: |
          choco push ./dist/*.nupkg --source https://push.chocolatey.org/ --apikey ${{ secrets.CHOCO_API_KEY }}
        shell: bash
