# .github/workflows/pypi.yml
name: PyPi CI / CD

on:
  workflow_run:
    workflows: [Git Release CI / CD]
    types:
      - completed
  workflow_dispatch:

jobs:
  test-build:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    name: Build and test PyPi package
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache PDM dependencies
        uses: actions/cache@v4
        with:
          path: |
            __pypackages__/
            .venv/
          key: ${{ runner.os }}-pdm-${{ hashFiles('**/pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-pdm-

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pdm invoke
          pdm install
        shell: bash

      - name: Build and check .whl
        run: |
          pdm run invoke pypi.check
        shell: bash

      - name: Upload .whl artifact
        uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: dist-whl
          path: dist/*
          if-no-files-found: error

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [test-build]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: dist-whl
          path: dist

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache PDM dependencies
        uses: actions/cache@v4
        with:
          path: |
            __pypackages__/
            .venv/
          key: ${{ runner.os }}-pdm-${{ hashFiles('**/pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-pdm-

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine
        shell: bash

      - name: Publish to PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine check dist/*
          twine upload dist/*
        shell: bash
