# .github/workflows/scoop.yml
name: Scoop CI / CD

on:
  workflow_run:
    workflows: [Git Release CI / CD]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: write # allow pushing changes

jobs:
  read-python-version:
    runs-on: ubuntu-latest

    outputs:
      PY_MIN: ${{ steps.extract.outputs.min }}
      PY_MAX: ${{ steps.extract.outputs.max }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - id: extract
        run: |
          bash ./scripts/get_python_version.sh >> $GITHUB_OUTPUT
          bash ./scripts/get_python_version.sh

  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    name: Scoop package CD
    runs-on: windows-latest
    needs: [read-python-version]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          install_scoop: "true"
          buckets: extras
          scoop_update: "true"
          update_path: "true"

      - name: Set up Python ${{ needs.read-python-version.outputs.PY_MAX }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ needs.read-python-version.outputs.PY_MAX }}

      - name: Cache PDM dependencies for Python ${{ needs.read-python-version.outputs.PY_MAX }}
        uses: actions/cache@v4
        with:
          path: |
            __pypackages__/
            .venv/
          key: ${{ runner.os }}-pdm-python-${{ needs.read-python-version.outputs.PY_MAX }}-${{ hashFiles('**/pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-pdm-python-${{ needs.read-python-version.outputs.PY_MAX }}-

      - name: Install Python ${{ needs.read-python-version.outputs.PY_MAX }} dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pdm invoke
          pdm install
        shell: bash

      - name: Build and install scoop bucket
        run: |
          pdm run invoke scoop.check
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: scoop-bucket
          path: bucket/*.json
          if-no-files-found: error

  test-scoop:
    name: Test Scoop package (no python installed)
    runs-on: windows-latest
    needs: [build]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download distribution artifacts
        uses: actions/download-artifact@v4
        with:
          name: scoop-bucket
          path: bucket
          merge-multiple: true

      - uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          install_scoop: "true"
          buckets: extras
          scoop_update: "true"
          update_path: "true"

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        shell: bash

      - name: Scoop bucket contents
        run: |
          cat ./bucket/file_conversor.json
        shell: bash

      - name: Install scoop bucket
        run: |
          scoop install .\bucket\file_conversor.json
        shell: pwsh

      - name: Check installed scoop app
        run: |
          file_conversor --version
        shell: bash

      - name: Publish Scoop bucket
        run: |
          git add bucket/*.json
          git commit -m "Update scoop bucket"
          git push
        shell: bash
